/*body { background-color: black; color: white; }*/
h1,h2 {color: red; text-align: center;}
.warnahijau { color: green; text-align: center; }
h2.warnahijau { color: greenyellow; text-align: left; font-style: italic; }

#headerDiv { border: 2px solid magenta; text-align: justify; }

p,div { border:1px solid blue; }
table,th,td {border: 3px solid blue;
    border-collapse: collapse; padding:4px;}
